@import 'utils/variables';
@import 'components/type';

html {
    width: 100vw;
}

body {
    background-color: #1E1E1E;
}

h1 {
    text-align: center;
    color: white;
    font-family: "DM Sans", sans-serif ;
}

h1 span {
    font-family: "DM Serif Display", serif;
    font-style: italic;
    padding-left: 5px;

}

.search {
    text-align: center;
}

